Assignment-1/2019CS10452/*
Assignment-2/__pycache__/server.cpython-38.pyc
Assignment-2/test.py
Assignment-2/__pycache__/client.cpython-38.pyc
Assignment-2/report.*
!Assignment-2/report.pdf
!Assignment-2/report.tex